body {
    background-color: #2A3235;
    font-family: system-ui;

}

.nav li {
    display: block;
    float: left;
    padding: 8px;
    padding-left: 0px;
    list-style-type: none;
}

h1 {
    color: #EEB9C1;
}

p {
    color: #DEEEF3;
}

a {
    text-decoration: none;
    color: #B3DCE2
}